.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  justify-content: start;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  height: 2rem;
}

.navitems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  top: 0;
  left: 0;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.navbutton {
  padding: 0;
  border: none;
  background-color: none;
  color: white;
}

.contact {
  background-color: white;
  color: black;
  border-radius: 35px;
  padding: 1rem 2rem;
}
