.testimonials-section {
  text-align: center;
  padding: 2rem;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  gap: 3rem;
}

.testimonials-header {
  padding-top: 1rem;
  color: gray;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.testimonial {
  max-width: 300px;
  text-align: center;
}

.testimonial-image {
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin:auto;
}

.testimonial-text {
  font-style: italic;
  margin: 1rem 0;
  font-size: small;
}

.testimonial-name {
  font-weight: bold;
  margin-bottom: 20px;
}

.testimonial-title {
  color: gray;
}

